p {
    text-align: center;
    width: 1000px;
}
table {
    text-align: left;
    margin: auto;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255,255,255,0.5);
    background-blend-mode: lighten;
}
td { white-space:pre }
body {
    width: 100vw
}
iframe {border-style:none;}