p,h1,h2,h3,h4 {
    text-align: center;
    width: min(1000px, 100vw);
    font-family: 'Arial';
}
li {
    width: min(1000px, 100vw);
    font-family: 'Arial';
}
fb:login-button {
    position: center;
}
td { white-space:pre }
body {
    width: min(1000px, 100vw);
}
iframe {border-style:none;}