p,h1,h2,h3,h4 {
    text-align: center;
    width: min(1000px, 100vw);
    font-family: 'Arial';
}
li {
    width: min(1000px, 100vw);
    font-family: 'Arial';
}
table, .igChart {
    width: min(1000px, 100vw);
    max-height: 500px;
    display: block;
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
}
table, th, td {
    font-family: 'Arial';
    border: 1px solid;
}
th {
    background-color: dodgerblue;
    position: sticky;
    top: 0;
}
td:nth-child(even){
    background-color: #D6EEEE;
}
tr:last-child {
    background-color: #D6EEEE;
    position: sticky;
    bottom: 0;
    font-weight: bold;
}
body {
    width: min(1000px, 100vw);
}
iframe {border-style:none;}
form {
    font-family: 'Arial';
    font-weight: bold;
    text-align: center;
}
@media only screen and (max-width:480px) {
    input[type=button] {
        font-size: 12pt;
        width: min(1000px, 100vw);
    }
    button {
        font-size: 12pt;
        width: min(1000px, 100vw);
    }
}
